html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

  body {
    margin: 0; }

    article, aside, details, figcaption, figure, footer, header, hgroup, main,
    menu, nav, section, summary {
      display: block; }

      audio, canvas, progress, video {
        display: inline-block;
        vertical-align: baseline; }

        audio:not([controls]) {
          display: none;
          height: 0; }

          [hidden], template {
            display: none; }

            a {
              background-color: transparent; }

              a:active, a:hover {
                outline: 0; }

                abbr[title] {
                  border-bottom: 1px dotted; }

                  b, strong {
                    font-weight: bold; }

                    dfn {
                      font-style: italic; }

                      h1 {
                        font-size: 2em;
                        margin: 0.67em 0; }

                        mark {
                          background: #ff0;
                          color: #000; }

                          small {
                            font-size: 80%; }

                            sub, sup {
                              font-size: 75%;
                              line-height: 0;
                              position: relative;
                              vertical-align: baseline; }

                              sup {
                                top: -0.5em; }

                                sub {
                                  bottom: -0.25em; }

                                  img {
                                    border: 0; }

                                    svg:not(:root) {
                                      overflow: hidden; }

                                      figure {
                                        margin: 1em 40px; }

                                        hr {
                                          box-sizing: content-box;
                                          height: 0; }

                                          pre {
                                            overflow: auto; }

                                            code, kbd, pre, samp {
                                              font-family: monospace, monospace;
                                              font-size: 1em; }

                                              button, input, optgroup, select, textarea {
                                                color: inherit;
                                                font: inherit;
                                                margin: 0; }

                                                button {
                                                  overflow: visible; }

                                                  button, select {
                                                    text-transform: none; }

                                                    button, html input[type="button"], input[type="reset"], input[type="submit"] {
                                                      -webkit-appearance: button;
                                                      cursor: pointer; }

                                                      button[disabled], html input[disabled] {
                                                        cursor: default; }

                                                        button::-moz-focus-inner, input::-moz-focus-inner {
                                                          border: 0;
                                                          padding: 0; }

                                                          input {
                                                            line-height: normal; }

                                                            input[type="checkbox"], input[type="radio"] {
                                                              box-sizing: border-box;
                                                              padding: 0; }

                                                              input[type="number"]::-webkit-inner-spin-button,
                                                              input[type="number"]::-webkit-outer-spin-button {
                                                                height: auto; }

                                                                input[type="search"] {
                                                                  -webkit-appearance: textfield;
                                                                  box-sizing: content-box; }

                                                                  input[type="search"]::-webkit-search-cancel-button,
                                                                  input[type="search"]::-webkit-search-decoration {
                                                                    -webkit-appearance: none; }

                                                                    fieldset {
                                                                      border: 1px solid #c0c0c0;
                                                                      margin: 0 2px;
                                                                      padding: 0.35em 0.625em 0.75em; }

                                                                      legend {
                                                                        border: 0;
                                                                        padding: 0; }

                                                                        textarea {
                                                                          overflow: auto; }

                                                                          optgroup {
                                                                            font-weight: bold; }

                                                                            table {
                                                                              border-collapse: collapse;
                                                                              border-spacing: 0; }

                                                                              td, th {
                                                                                padding: 0; }

                                                                                .signup-form {
                                                                                  border-radius: 5px;
                                                                                  -webkit-border-radius: 5px;
                                                                                  background-clip: padding-box;
                                                                                  background: #f9f9f9;
                                                                                  font-size: 14px;
                                                                                  margin: 0 auto;
                                                                                  max-width: 500px;
                                                                                  min-width: 300px;
                                                                                  padding: 12px; }
                                                                                  .signup-form .signup-form__title {
                                                                                    border-radius: 5px;
                                                                                    -webkit-border-radius: 5px;
                                                                                    background-clip: padding-box;
                                                                                    background-color: #eee;
                                                                                    color: #555;
                                                                                    padding: 16px;
                                                                                    text-align: center; }
                                                                                    .signup-form .signup-form__save-response {
                                                                                      color: #35ca26;
                                                                                      display: block;
                                                                                      font-weight: bold;
                                                                                      margin: 8px 0;
                                                                                      text-align: center; }
                                                                                      .signup-form .signup-form__save-response--error {
                                                                                        color: #f32c52; }
                                                                                        .signup-form .signup-form__label, .signup-form .signup-form__input {
                                                                                          display: block;
                                                                                          text-align: left;
                                                                                          vertical-align: middle;
                                                                                          width: 100%; }
                                                                                          .signup-form .signup-form__label {
                                                                                            color: #555;
                                                                                            padding: 8px 0; }
                                                                                            .signup-form .signup-form__input {
                                                                                              border-radius: 5px;
                                                                                              -webkit-border-radius: 5px;
                                                                                              background-clip: padding-box;
                                                                                              box-sizing: border-box;
                                                                                              -moz-box-sizing: border-box;
                                                                                              -webkit-box-sizing: border-box;
                                                                                              border: 1px solid #eee;
                                                                                              border-radius: 5px;
                                                                                              max-width: 500px;
                                                                                              padding: 8px; }
                                                                                              .signup-form .signup-form__input--error {
                                                                                                border-color: #f32c52; }
                                                                                                .signup-form .signup-form__error-list {
                                                                                                  margin: 8px 0;
                                                                                                  padding-left: 18px; }
                                                                                                  .signup-form .signup-form__error-list li {
                                                                                                    color: #f32c52;
                                                                                                    font-size: 0.8em; }
                                                                                  .signup-form .signup-form__submit-btn {
                                                                                    border-radius: 5px;
                                                                                    -webkit-border-radius: 5px;
                                                                                    background-clip: padding-box;
                                                                                    background-color: #f32c52;
                                                                                    border: 0;
                                                                                    color: #fff;
                                                                                    cursor: pointer;
                                                                                    font-size: 14px;
                                                                                    font-weight: bold;
                                                                                    line-height: 1.5;
                                                                                    margin-top: 16px;
                                                                                    outline: none;
                                                                                    padding: 12px;
                                                                                    text-align: center;
                                                                                    text-transform: capitalize;
                                                                                    width: 100%; }
                                                                                    .signup-form .signup-form__submit-btn:disabled {
                                                                                      background-color: #ccc; }
                                                                                  @media (min-width: 600px) {
                                                                                    .signup-form {
                                                                                      font-size: 16px;
                                                                                      margin-top: 60px;
                                                                                      padding: 30px;   }
                                                                                      .signup-form .signup-form__title {
                                                                                        padding: 20px;   }
                                                                                        .signup-form .signup-form__save-response {
                                                                                          margin: 10px 0;   }
                                                                                          .signup-form .signup-form__label {
                                                                                            padding: 10px 0;   }
                                                                                            .signup-form .signup-form__input {
                                                                                              padding: 10px;   }
                                                                                              .signup-form .signup-form__error-list {
                                                                                                margin: 10px 0;   }
                                                                                                .signup-form .signup-form__submit-btn {
                                                                                                  font-size: 16px;
                                                                                                  margin-top: 20px;
                                                                                                  width: auto;   }
}
