//** _signup.scss

//
// Main signup form
// --------------------------------------------------
//
// Note: This is imported in app.scss and compiles to bundle.css.
//
// Technologies:
//   - SCSS: http://sass-lang.com/documentation/file.SCSS_FOR_SASS_USERS.html
//
// Style guides:
//   - Design for mobile first.
//   - List properties ordered alphabetically.
//   - BEM (Harry Roberts' style): https://en.bem.info/method/naming-convention/#alternative-naming-schemes
//
// Todo:
//   - Idiomatic CSS: https://github.com/necolas/idiomatic-css
//   - Convert variables to SASS maps.
//   - List properties by position, then display and box model, and then other.
//

.signup-form {

  //== Encapsulated variables
  //
  // Base
  $screen-md-min:               600px;
  $base-font-size:              14px;
  $base-font-color:             $gray-darker;
  $base-border-radius:          5px;
  $base-padding:                8px;
  $small-font-size:             .8em;
  // Outer form
  $form-bg-color:               $gray-lighter;
  $form-min-width:              300px;
  $form-max-width:              500px;
  $form-top-margin:             60px;
  $form-padding:                $base-padding * 1.5;
  // Inputs and labels
  $input-border-width:          1px;
  $error-list-left-padding:     18px;
  // Submit button
  $submit-btn-bg-color:         $red;
  $submit-btn-text-color:       $white;
  $submit-btn-padding:          12px;
  $submit-btn-margin-top:       $base-padding * 2;


  @include border-radius($base-border-radius);

  background: $form-bg-color;
  font-size: $base-font-size;
  margin: 0 auto;
  max-width: $form-max-width;
  min-width: $form-min-width;
  padding: $form-padding;

  .signup-form__title {
    @include border-radius($base-border-radius);

    background-color: $gray-light;
    color: $base-font-color;
    padding: $base-padding * 2;
    text-align: center;
  }

  .signup-form__save-response {
    color: $green;
    display: block;
    font-weight: bold;
    margin: $base-padding 0;
    text-align: center;
  }

  .signup-form__save-response--error {
    color: $red;
  }

  // Base styles for `label` and `input` elements.
  %field-base {
    display: block;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }

  .signup-form__label {
    @extend %field-base;

    color: $base-font-color;
    padding: $base-padding 0;
  }

  .signup-form__input {
    @extend %field-base;
    @include border-radius($base-border-radius);
    //** Stops input from leaking outside max-width.
    @include box-sizing(border-box);

    border: $input-border-width solid $gray-light;
    border-radius: $base-border-radius;
    max-width: $form-max-width;
    padding: $base-padding;
  }

  .signup-form__input--error {
    border-color: $red;
  }

  .signup-form__error-list {
    margin: $base-padding 0;
    padding-left: $error-list-left-padding;

    li {
      color: $red;
      font-size: $small-font-size;
    }
  }

  .signup-form__submit-btn {
    @include border-radius($base-border-radius);

    background-color: $submit-btn-bg-color;
    border: 0;
    color: $submit-btn-text-color;
    cursor: pointer;
    font-size: $base-font-size;
    font-weight: bold;
    line-height: 1.5;
    margin-top: $submit-btn-margin-top;
    outline: none;
    padding: $submit-btn-padding;
    text-align: center;
    text-transform: capitalize;
    width: 100%;

    &:disabled {
      background-color: $gray;
    }
  }

  //== Desktop
  //
  @media (min-width: $screen-md-min) {

    // Responsive variable overrides.
    $base-font-size:          16px;
    $base-padding:            10px;
    $form-padding:            $base-padding * 3;
    $submit-btn-margin-top:   $base-padding * 2;


    font-size: $base-font-size;
    margin-top: $form-top-margin;
    padding: $form-padding;

    .signup-form__title {
      padding: $base-padding * 2;
    }

    .signup-form__save-response {
      margin: $base-padding 0;
    }

    .signup-form__label {
      padding: $base-padding 0;
    }

    .signup-form__input {
      padding: $base-padding;
    }

    .signup-form__error-list {
      margin: $base-padding 0;
    }

    .signup-form__submit-btn {
      font-size: $base-font-size;
      margin-top: $submit-btn-margin-top;
      width: auto;
    }
  }

}
