//** _colors.scss

//
// Base colors
// --------------------------------------------------

$white:                         #fff;
$black:                         #000;
$red:                           #f32c52;
$green:                         #35ca26;

$gray:                          #ccc;
$gray-light:                    adjust-lightness($gray, 13.5);
$gray-dark:                     adjust-lightness($gray, -13.5);
$gray-lighter:                  #f9f9f9;
$gray-darker:                   #555;
