// scss-lint:disable VendorPrefix
//** _mixins.scss

//
// Common mixins
// --------------------------------------------------

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  //** Stops background color from leaking outside the border.
  background-clip: padding-box;
}

@mixin box-sizing($box-model) {
  box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  -webkit-box-sizing: $box-model;
}

