{% extends 'base.html' %}

{% macro render_field(field) %}
  <div class="signup-form__group">
    <label class="signup-form__label" for="{{ field.name }}">{{ field.label }}</label>
    {{ field(class_='signup-form__input', **kwargs) }}
    <ul class="signup-form__error-list">
      {% if field.errors %}
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endif %}      
    </ul>
  </div>
{% endmacro %}

{% block content %}
  <form class="signup-form" name="credit-application" novalidate>
    <h3 class="signup-form__title">Credit Application</h3>
    <span class="signup-form__save-response"></span>
    {{ render_field(form.first_name) }}
    {{ render_field(form.last_name) }}
    {{ render_field(form.address) }}
    {{ render_field(form.ssn, maxlength=9) }}
    {{ render_field(form.email) }}
    {{ render_field(form.email_confirmation) }}      
    <button class="signup-form__submit-btn" type="submit">Submit</button>
  </form>
{% endblock %}